В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего
из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без
get_dummies?

In [3]:
import random
import pandas as pd

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

df = pd.DataFrame({'whoAmI':lst})
df.head()

  whoAmI
0  human
1  robot
2  robot
3  human
4  human

In [4]:
# Образец
pd.get_dummies(df['whoAmI'])

    human  robot
0    True  False
1   False   True
2   False   True
3    True  False
4    True  False
5   False   True
6    True  False
7    True  False
8   False   True
9   False   True
10   True  False
11   True  False
12  False   True
13   True  False
14  False   True
15   True  False
16  False   True
17   True  False
18  False   True
19  False   True

In [19]:
# Решение
headers_set = set(lst)
my_dic = dict()
for value in headers_set:
    my_dic[value] = list(map(lambda x: x == value, lst))

pd.DataFrame.from_dict(my_dic)

    human  robot
0    True  False
1   False   True
2   False   True
3    True  False
4    True  False
5   False   True
6    True  False
7    True  False
8   False   True
9   False   True
10   True  False
11   True  False
12  False   True
13   True  False
14  False   True
15   True  False
16  False   True
17   True  False
18  False   True
19  False   True